<center> <h1>Welcome To Inventory Management System </h1> </center>
<center> <p>TRACKING INVENTORY LEVEL, ORDERS,SALES AND TRANSFERS</p> <center>
  <!-- # Bootstrap Html-->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
