<!-- # Bootstrap Html-->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



<center><h1>New Order</h1></center>

<%= render 'form', order: @order %>

<%= link_to 'Back', stock_orders_path(@stock) %>
